html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;

  padding-bottom: 9.5rem;
  position: relative;
  overflow: hidden;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: 3.5rem;
}

.robot-brain {
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  float: right;
  position: absolute;
  left: 55.5%;
  transform:translateX(-55.5%);

  top: 1rem;
}

.robot-head-left {
  float: left;
  position: absolute;
  left: 40.75%;
  transform: translateX(-40.75%);
}

.robot-head-right:hover,
.robot-head-left:hover {
  display: none;
}
